:root {
    --base-color: #e9e9e6;
    --btn-gold-bg: #b4936f;
    --frag: "PPFragment-GlareLight", serif;
    --term: termina, sans-serif;
    --ivypresto: ivypresto-display, serif;
}

.parallaxImage {
    overflow: hidden;
}

.parallaxImage img {
    height: 125%;
}

.inner {
    margin: 0 94px;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    height: 1px;
    width: 1px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--term);
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 11px;
    height: 56px;
    padding: 0 60px;
    overflow: hidden;
}

.btn>span {
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: calc(100% + 1px);
    left: 50%;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    background: #e9e9e6;
    transform: translateX(-50%) scale(1);
    transition: border-radius 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn>span:nth-child(1) {
    position: relative;
    color: #e9e9e6;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s 0.2s ease, transform 0.2s 0.2s ease;
}

.btn>span:nth-child(2) {
    position: absolute;
    color: #000612;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.2s 0.1s ease, transform 0.2s 0.1s ease;
}

.btn:hover::after {
    border-radius: 0%;
    transform: translateX(-50%) scale(2.1);
    transition: border-radius 0.3s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn:hover>span:nth-child(1) {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.btn:hover>span:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s 0.1s ease, transform 0.2s 0.1s ease;
}

.btn-gold {

    position: relative;
    color: var(--base-color);
    background: var(--btn-gold-bg);
}

.btn-gold:hover {
    color: #000612;
    background: var(--base-color);
}

.btn-border {
    position: relative;
    border: 1px solid #000612;
    color: #000612;
}

.btn.btn__stroke {
    --btn-color: var(--somewhere-navy);
    --btn-bg: transparent;
    --btn-hover-color: var(--somewhere-offwhite);
    --btn-hover-bg: var(--somewhere-navy);
    border: 1px solid var(--btn-color);
}

.btn-border:hover {
    color: var(--base-color);
    background: #000612;
}