body.hidden {
    overflow: hidden;
}


#wrapper {
    position: relative;
    background: var(--base-color);
    overflow: hidden;
}

.sc-visual {
    overflow: hidden;
    /* padding-top: 74px; */
    --opacity: 1;
    --index: 1;
    height: 100vh;
    /* min-height: 100vh; */
    background: #f00;
}

.sc-visual .content {
    position: relative;
    height: 100%;
}

.sc-visual .content:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0);
    opacity: var(--opacity);
}

.sc-visual .bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sc-visual .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sc-visual img.visual-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sc-visual .text-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    height: 100vh;
}

.sc-visual .text-wrap .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sc-visual .text-wrap .text-tit {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.sc-visual .text-wrap .text-tit .txt-line {
    display: flex;
    gap: 20px;
}

.sc-visual .text-wrap .text-tit .char {
    color: var(--base-color);
    font-family: var(--frag);
    font-size: clamp(40px, 7.3vw, 137px);
    line-height: 1.1;
    display: inline-flex;
}

.sc-visual .text-wrap .text-desc {
    font-family: var(--term);
    color: var(--base-color);
    font-size: 13px;
    margin-top: 50px;
    letter-spacing: 2px
}

.sc-visual .text-wrap .btn-gold {
    margin-top: 47px;
}

.sc-visual .text-wrap img {
    padding-bottom: 44px;
}

.sc-visual .side-scroll {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    transform: translateY(-50%) rotate(90deg);
    align-items: center;
    gap: 11px;
    text-transform: uppercase;
    font-family: var(--term);
    font-size: 11px;
}

.sc-visual .side-scroll .scroll-txt {}

.sc-visual .side-scroll .scroll-icon {
    font-size: 20px;
    animation: updown 1s ease-in-out infinite;
}

@keyframes updown {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.sc-book {
    padding-bottom: clamp(48px, 4.8vw, 144px);
    padding-top: clamp(64px, 9vw, 256px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc-book .txt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    margin-bottom: 77px;
    gap: 10px;
    font-size: clamp(33px, 4vw, 91px);
    text-align: center;
    white-space: nowrap;
}

.sc-book .txt-box .txt {
    overflow: hidden;
}

.sc-book .txt-box span {
    font-family: var(--ivypresto);
    transform: translateY(100%);
    display: block;
}

.marquee-wrap {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.marquee-wrap p {
    font-family: "PPFragment-GlareLight", serif;
    font-weight: normal;
    text-transform: uppercase;
    overflow: hidden;
    font-size: clamp(64px, 9.4vw, 170px);
    display: flex;
    text-transform: uppercase;
    line-height: 1;
    color: #d2d2cf;
    animation: marquee 20s linear infinite;
    flex-shrink: 0;
}

.marquee-wrap p::after {
    content: "•";
    padding: 0 0.1em;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

.sc-now {
    margin-top: 42px;
}

.sc-now .wrapper {
    display: flex;
}

.sc-now .wrapper .img-area {
    position: relative;
    flex: 1;
    min-height: 50vmax;
}

.sc-now .wrapper .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.sc-now .wrapper .txt-area {
    flex: 1;
    background: #3d2e4f;
    color: var(--base-color);
    position: relative;
}

.sc-now .wrapper .txt-area .txt-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 52px;
    color: var(--base-color);
    gap: 28px;
    justify-content: center;
}

.sc-now .wrapper .txt-area .txt-wrap h2 {
    font-family: var(--term);
    font-size: 11px;
    letter-spacing: 0.15em;
}

.sc-now .wrapper .txt-area .txt-wrap .tit {
    font-family: var(--frag);
    font-size: clamp(33px, 4.1vw, 92px);
    color: var(--base-color);
    margin-top: 28px;
}

.sc-now .wrapper .txt-area .txt-wrap .noti {
    text-align: center;
}

.sc-now .wrapper .txt-area .txt-wrap .noti>* {
    font-family: var(--term);
    font-size: clamp(12px, 0.9vw, 14px);
    text-align: center;
    line-height: 1.75;
    letter-spacing: 0.15em;
}

.sc-now .wrapper .txt-area .txt-wrap .desc {
    font-family: var(--ivypresto);
    font-size: clamp(19px, 1.5vw, 27px);
    text-align: center;
}

.sc-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 120px;
    margin-top: 209px
}

.sc-connect h2 {
    font-family: var(--term);
    font-size: 11px;
    color: #000612;
    letter-spacing: 0.15em;
}

.sc-connect .sns-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.sc-connect .sns-list li {}

.sc-connect .sns-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.sc-connect .sns-list li a i {
    font-size: 35px;
    transition: transform 0.3s
}

.sc-connect .sns-list li a:hover i {
    transform: scale(0.7)
}

.sc-escape {
    position: relative;
    overflow: hidden;
    padding: 210px 93px 120px 93px;
    min-height: 919px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

.sc-escape [data-parallax="true"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sc-escape .word {
    display: flex;
    align-items: center;
    font-size: clamp(47px, 9.2vw, 167px);
}

.sc-escape .char {
    font-family: "PPFragment-GlareLight", serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
    /* opacity: 0; */
}

.sc-escape .char.c1 {
    /* transform: translateY(100%); */
}

.sc-escape .char.c2 {
    /* transform: translateY(70%); */
}

.sc-escape .char.c3 {
    /* transform: translateY(50%); */
}

.sc-escape .char.c4 {
    /* transform: translateY(20%); */
}

.sc-escape .char.c5 {
    /* transform: translateY(40%); */
}

.sc-escape .char.c6 {
    /* transform: translateY(80%); */
}

.sc-escape img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.sc-about {
    padding: 210px 0;
}

.sc-about .txt-area {}

.sc-about .txt-area h2 {
    font-family: var(--term);
    font-size: 11px;
    letter-spacing: 0.15em
}

.sc-about .txt-area .txt-line {
    font-size: clamp(33px, 4.5vw, 77px);
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    padding-bottom: clamp(16px, 7.2vw, 96px);
}

.sc-about .txt-area .txt-line span {
    font-family: var(--ivypresto);
}

.sc-about .txt-area .desc {
    font-size: clamp(16px, 1vw, 17.4px);
    font-weight: 400;
    color: #40444d;
    line-height: 1.625;
    font-family: area-normal, sans-serif;
}

.sc-about .conts-wrap {}

.sc-about .conts-wrap .conts {
    display: flex;
    justify-content: space-between;
}


.sc-about .conts-wrap .conts.top {}

.sc-about .conts-wrap .conts.top .txt-area {
    width: 50%;
}

.sc-about .conts-wrap .conts.top .img-area {
    position: relative;
    /* height: 846px; */
    flex: 0 0 auto;
    width: 41.66666667%;
    padding: 0 14px;
    padding-bottom: 50%;
}

.sc-about .conts-wrap .conts.top .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
}

.sc-about .conts-wrap .conts.bottom {
    flex-wrap: wrap;
    align-items: flex-end;
}

.sc-about .conts-wrap .conts.bottom .txt-area {
    flex: 0 0 auto;
    width: 33.33333333%;
    margin: 0 8.333%;
    /* align-self: flex-end; */
    padding-top: 80px;
}

.sc-about .conts-wrap .conts.bottom .img-area {
    flex: 0 0 auto;
    width: 33%;
    padding-bottom: 33%;
    position: relative;
}

.sc-about .conts-wrap .conts.bottom .img01 img {
    position: absolute;
}

.sc-about .conts-wrap .conts.bottom .img02 {
    position: relative;
    flex: 0 0 auto;
    width: 16.66666667%;
    height: 240px;
    align-self: flex-end;
    transform: translateY(50%);
}

.sc-about .conts-wrap .conts.bottom .img02 img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
}

/* .parallaxImage {
    overflow: hidden;
} */
.sc-withus [data-parallax="true"] {
    overflow: hidden;
    height: 100%;
}


.sc-withus {
    position: relative;
    height: 827px;
    margin-top: 94px;
    background: #000;
    z-index: 2;
    margin-bottom: 94px;
    overflow: hidden;
}

.sc-withus:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0 6 18 / 50%);
    display: block;
}

.sc-withus .at {
    color: #fff;
    font-family: var(--term);
    font-size: 11px;
    letter-spacing: 1.6px
}

.sc-withus h2 {
    font-size: clamp(33px, 5vw, 73px);
    margin-top: 58px;
    color: var(--base-color);
    font-family: var(--frag);
}

.sc-withus img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

.sc-withus .txt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: max-content;
}

.sc-withus .sns-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
}

.sc-withus .sns-list li {}

.sc-withus .sns-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 0;
}

.sc-withus .sns-list li:not(:last-child) a {
    border-right: none
}

.sc-withus .sns-list li a i {
    font-size: 22px;
}

.sc-signup {
    padding: 85px 93px;
    background: #191f2a;
}

.sc-signup .form-wrap {
    display: flex;
}

.sc-signup .form-wrap .register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    flex: 0 0 auto;
}

.sc-signup .form-wrap .register form {
    width: 100%;
}

.sc-signup .form-wrap .register p.receive {
    color: #808389;
    font-size: 11px;
    padding: 10px 0;
}

.sc-signup .form-wrap .register fieldset {
    width: 100%;
    border: none;
    padding-bottom: 10px;
}

.sc-signup .form-wrap .register .email-box {
    border: 0;
    width: 100%;
    background: none;
    color: var(--base-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--base-color)
}

.sc-signup .form-wrap .register .email-box:focus {
    outline: none;
}

.sc-signup .form-wrap .register .btn {
    margin-top: 10px;
}

.sc-signup .form-wrap p.text {
    font-family: var(--ivypresto);
    color: #fff;
    font-size: clamp(24px, 1.7vw, 36px);
    width: 60%;
    flex: 0 0 auto;
}

@media (max-width:1200px) {
    .sc-about .conts-wrap .conts.bottom .img02 {
        width: 25%;
        margin-left: 75%
    }

    .sc-about .conts-wrap .conts.bottom .img-area {
        width: 41%;
        padding-bottom: 53%;
    }

    .sc-about .conts-wrap .conts.bottom .txt-area {
        width: 50%;
        margin: 0;
        ;
    }
}

@media (max-width:991px) {
    .sc-connect {
        margin-top: 81px;
        margin-bottom: 56px;
    }

    .sc-about {
        padding: 60px 0;
        margin: 0 50px;
    }

    .sc-about .conts-wrap .conts {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .sc-about .conts-wrap .conts.top .img-area {
        width: 75%;
        padding: 0px;
        margin-left: 25%;
    }

    .sc-about .conts-wrap .conts.top .img-area img {
        position: relative;
    }

    .sc-about .conts-wrap .conts.top .txt-area {
        width: 100%;
    }

    .sc-about .conts-wrap .conts.bottom .txt-area {
        width: 75%;
        margin-left: 25%;
        padding-top: 0;
        margin-right: 0;
    }

    .sc-about .conts-wrap .conts.bottom .img-area.img01,
    .sc-about .conts-wrap .conts.bottom .img02 {
        display: none;
    }

    .sc-now.inner {
        margin: 0;
    }

    .sc-now .wrapper {
        flex-direction: column;
    }

    .sc-signup .form-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sc-signup .form-wrap>* {
        width: 100%;
    }

    .sc-signup .form-wrap .register .btn {
        width: 100%;
    }

    .sc-signup .form-wrap p.text {
        text-align: center;
        width: 100%;
    }

    .sc-signup .form-wrap .register {
        width: 100%;
        margin-top: 50px;
    }

}




@media (max-width:768px) {

    .sc-visual .side-scroll {
        display: none;
    }

    .sc-escape {
        min-height: 480px;
        padding: 85px 32px 59px;
        align-items: center;
    }

    .sc-about .conts-wrap .conts.bottom .txt-area {
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    .sc-withus.inner {
        margin: 0;
        height: 500px;
    }

}